img {
  margin: 20px 0px;
}

a:hover {
  opacity: 0.7;
}

.maxw0 {
  max-width: 1000px;
  margin: auto;
}

.maxw1 {
  max-width: 400px;
  margin: auto;
  padding: 50px 0px 0px 0px;
}

.maxw2 {
  max-width: 700px;
  margin: auto;
}

.ppp {
  padding: 50px 0px;
  font-size: 18px;
  text-align: justify;
}

.bg-color0 {
  background-color: #dddddd;
}

.bg-color1 {
  background-color: #83b3dc;
}

.bg-color2 {
  background-color: #eeeeee;
}

.fa {
  padding: 25px;
  font-size: 30px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: ;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: ;
  color: #3B5998;
}

.fa-twitter {
  background: ;
  color: #55ACEE;
}

.fa-linkedin {
  background: ;
  color: #007bb5;
}

.fa-instagram {
  background: ;
  color: #125688;
}
